<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>House Rent Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text'>
</head>
<body>
 <div class="login">
	<h1>Predict House Rent</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
    	<!-- input type="text" name="Area" placeholder=" area " required="required" /-->
        <input type="text" name="BHK" placeholder="bhk" required="required" />
		<input type="text" name="Bathroom" placeholder="No of bathroom" required="required" />
        <input type="text" name="Furnishing" placeholder="0-unfurnished,1-semi-furnished,2-furnished" required="required" />
        <!-- input type="text" name="Locality" placeholder="1.Alaknanda 2.Dwarka Sector 3.Greater Kailash 4.Karol Bagh,5.Lajpat Nagar,6.Laxmi Nagar
        7.Najafgarh 8.New Friends Colonny 9.Okhla 10.Patel Nagar 11.Rohini Sector 12.Saket 13.Shahdara 14.Sultanpur 15.Uttam Nagar 16.Vasant Vihar
        " required="required" / -->
		<input type="text" name="Parking" placeholder="no of parking" required="required" />
        <input type="text" name="Transaction" placeholder="new/resale" required="required" />
        <input type="text" name="Type" placeholder="apartment/builder floor" required="required" />
		<input type="text" name="Per_Sqft" placeholder="per sqft price of locality" required="required" />
        <input type="text" name="Total_Sqft" placeholder="total sqft of house" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br></br>
   <br></br>
   {{ prediction_text }}
 </div>

</body>
</html>
